<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:library-web-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener> -->

	<servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>books.jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/books.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>books.jsp</servlet-name>
        <url-pattern>/library/books</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addbook.jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/addbook.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>addbook.jsp</servlet-name>
        <url-pattern>/library/addbook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>changebooksevlet</servlet-name>
        <servlet-class>com.getjavajobs.library.webui.ChangeBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>changebooksevlet</servlet-name>
        <url-pattern>/library/changebook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>genre.jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/genre.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>genre.jsp</servlet-name>
        <url-pattern>/genre</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>changegenre.jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/changegenre.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>changegenre.jsp</servlet-name>
        <url-pattern>/changegenre.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>genresevlet</servlet-name>
        <servlet-class>com.getjavajobs.library.webui.GenreServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>genresevlet</servlet-name>
        <url-pattern>/genresevlet</url-pattern>
    </servlet-mapping>

    <!-- Publishers servlets -->
    <servlet>
        <servlet-name>publishers.jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/publishers.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>publishersChangingPage.jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/publishersChangingPage.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>PushlisherServlet</servlet-name>
        <servlet-class>com.getjavajobs.library.webui.PublisherServlet</servlet-class>
    </servlet>

    <!-- Publishers mapping -->
    <servlet-mapping>
        <servlet-name>publishers.jsp</servlet-name>
        <url-pattern>/publishers</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>publishersChangingPage.jsp</servlet-name>
        <url-pattern>/changePublishers</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PushlisherServlet</servlet-name>
        <url-pattern>/publisherChange</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authors.jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/authors.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>authorAdd.jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/authorAdd.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>AuthorServlet</servlet-name>
        <servlet-class>com.getjavajobs.library.webui.AuthorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authors.jsp</servlet-name>
        <url-pattern>/authors</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>authorAdd.jsp</servlet-name>
        <url-pattern>/authorAdd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AuthorServlet</servlet-name>
        <url-pattern>/AuthorServlet</url-pattern>
    </servlet-mapping>


</web-app>
